[submodule "assets/processes"]
	path = assets/processes
	url = https://github.com/eodcgmbh/openeo-processes
	branch = add-tests
[submodule "assets/openeo-api"]
	path = assets/openeo-api
	url = https://github.com/Open-EO/openeo-api
